.services-container {
  display: flex;
  flex-direction: column;
  margin: 50px 150px;
}

.services-container .services-title {
  font-size: 2rem;
  font-weight: 500;
  color: rgb(26, 26, 97);
}

.services-container .services-description {
  font-weight: 300;
  font-size: 20px;
  margin-top: 10px;
}

.services-container ul {
  list-style: none;
  display: flex;
  gap: 50px;
  margin-top: 50px;
}
